<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weather-App-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4867B1EC1CA53C8C0057D9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4867B2031CA53C8D0057D9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4867B20E1CA53C8D0057D9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
